.app {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  &-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 16px;

    .doc-menu {
      flex:1;
    }
  }

  &-content {
    position:relative;
    margin:16px 0;
    flex: 1;
    display: flex;
    overflow: hidden;
    .y-markdown {
      flex: 1;
      margin: 0 264px 0 8px;
      padding: 16px 24px;
      //border:1px solid #eaecef;
      background: white;
      border-radius: 4px;
      //box-shadow: 0 6px 20px rgba(0,0,0,0.1);
      overflow: auto;

      //跳转的时候效果较好
      h1,h2,h3,h4,h5,h6{
        padding-top:0.3em;
      }
    }

    .doc-anchor {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      margin-right: 12px;
      padding-left: 8px;
      width: 240px;
      overflow: auto;
    }
  }
}
